* {
    font-family: cambria;
    line-height: 2em;
} 
   
html {
    font-size: 18px;
}

h1, h2, h3 {
    color: black;
}


header h1 {
    font-size: 4.28em;
    text-align: center;
    font-weight: 800;
}

header span {
    font-size: 1.5em;
    color: gray;
    text-align: center;
    font-weight: 500;
}

header img {
    width: 40%;
    border: 2px solid #5E5B52;
}

h3 {
    font-size: 22px;
    color: whitesmoke;
    font-weight: 800;
    text-decoration: bolder;
}


nav {
    background: #191716;
}

nav a {
    text-decoration: underline;
    color: white;
    font-weight: 700;
}

nav a:hover {
    background: gray;
}


#projects {
    color: whitesmoke;
}

#projects article {
    background: #191716;

    text-align: center;
    font-weight: 700;
}

#projects article img {
    width: 100%;
    border: 2px solid #5E5B52;
}


footer {
    background:#191716;
    color: white;
}